* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 2rem;
    background-color: rgb(25, 23, 29);
    color: #d7d7d7;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

span.greyed {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;
    color: #a7a7a7;
}

main {
    margin-top: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

a {
    color: #d7d7d7;
    text-decoration: none;
}

a:hover {
    color: #a7a7a7;
    text-decoration: underline;
}

p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin-top: 1rem;
}

article {
    padding: 1rem;
    background-color: #1f1d2b;
    border-radius: 0.5rem;
}

h3 {
    opacity: 0.8;
    font-size: 1.5rem;
    font-weight: 400;
}